<style>
    body.no-scroll {
        overflow: hidden !important;
    }

    #freight-item-popup{
      position: absolute;
      color: #fff;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
      z-index: 99999;
      font-family: Arial, sans-serif;
    }

    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      .freight-item-popup-overlay {
        animation: fadeIn 0.5s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 99998;
      }

      @keyframes popIn {
        0% {
          transform: scale(0.5);
          opacity: 0;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
      
      .freight-item-popup-container {
        animation: popIn 0.4s ease-in-out;
        background-color: #fff;
        color: #333;
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        padding: 20px;
      }

      @media (min-width: 720px) {
        .freight-item-popup-container {
          animation: popIn 0.4s ease-in-out;
          background-color: #fff;
          color: #333;
          max-width: 400px;
          border-radius: 10px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
          padding: 20px;
        }
      }

      #free-shipping-message {
        margin: 5px 0 20px;
        font-size: 1.1em;
        line-height: 1.5;
      }
  
      #free-shipping-message span {
        font-size: 1.3em;
        line-height: 1.7;
      }

      #free-shipping-message p {
        color: #007bff;
        margin: 10px 0;
      }
      
      #free-shipping-button-container {
        display: flex;
        justify-content: space-between;
      }

      #free-shipping-button-container button {
        margin: 0 5px;
        padding: 10px;
        font-size: 1.1em;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s;
        font-family: 'Lato', sans-serif;
      }

      #continue-shopping-btn {
        width: 50%;
        background-color: #007bff;
        color: #fff;
      }
  
      #continue-shopping-btn:hover {
        background-color: #0056b3;
      }
  
      #go-to-cart-btn {
        background-color: #e0e0e0;
        color: #333;
        width: 50%;
      }
  
      #go-to-cart-btn:hover {
        background-color: #d5d5d5;
      }
</style>



<div id="freight-item-popup" style="display: none;">
    <div class="freight-item-popup-overlay">
      <div class="freight-item-popup-container">
        <p id="free-shipping-message"><span><b>🎉 Congratulations! 🎉</b></span><br>You’ve just added a part to your cart that will ship by freight truck. Any other parts you add to your cart will ship for <br><b>NO ADDITIONAL COST!</b><br> Take advantage of this great offer today!</p>
        <div id="free-shipping-button-container">
          <button id="continue-shopping-btn">Continue Shopping</button>
          <button id="go-to-cart-btn">Go To Cart</button>
        </div>
      </div>
    </div>
  </div>

<script>
  //Freight Shipping Popup and Added Item to Cart
  document.addEventListener('DOMContentLoaded', function () {
    const productForm = document.getElementById('product-form');
    const productFormSwatches = document.getElementById('product-form-swatches');
    const addToCartButton = document.getElementById('add-to-cart');
    const freightItemPopup = document.getElementById('freight-item-popup');
    const continueShoppingBtn = document.getElementById('continue-shopping-btn');
    const goToCartBtn = document.getElementById('go-to-cart-btn');
    const freightShippingMessage = document.getElementById('free-shipping-message');
    let scrollPosition = 0;
    let currentProductHandle = '{{ product.handle }}'.toUpperCase();

  //For being on a product (non-swatch) product page
  if(productForm) {
    productForm.addEventListener('submit', function (event) {
      const weightInUnit = parseInt(productForm.getAttribute('data-weight-in-unit') || 0);
      event.preventDefault();

      //form submissions for the case of attempting to purchase parts and swatches at the same time
      function formSubmission() {
        const formData = new FormData(productForm);

        fetch('/cart/add.js', {
          method: 'POST',
          body: formData,
          headers: {
              'Accept': 'application/json'
          }
        })
          .then(response => {
              if (!response.ok) {
                  throw new Error('Failed to add item to cart');
              }
              return response.json();
          })
          .catch(error => {
            console.error('Error adding item to cart:', error);
            alert('There was an error adding the item to your cart. Please try again.');
        });
      }


      function weightChecker() {
        // Serialize form data
        const formData = new FormData(productForm);

        if (weightInUnit >= 10) {
          fetch('/cart/add.js', {
              method: 'POST',
              body: formData,
              headers: {
                  'Accept': 'application/json'
              }
          })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Failed to add item to cart');
                  }
                  return response.json();
              })
              .then(data => {
                freightItemPopup.style.display = 'block';
                document.body.classList.add('no-scroll');
                document.body.style.top = `-${scrollPosition}px`;

                confetti({
                  particleCount: 100,
                  spread: 70,
                  origin: { x: 0.5, y: 0.5 },
                  zIndex: 99999,
                  gravity: 0.8
                });
              })
              .catch(error => {
                  console.error('Error adding item to cart:', error);
                  alert('There was an error adding the item to your cart. Please try again.');
              });
        } else {
          fetch('/cart/add.js', {
            method: 'POST',
            body: formData,
            headers: {
                'Accept': 'application/json'
            }
          })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to add item to cart');
                }
                return response.json();
            })
            .catch(error => {
              console.error('Error adding item to cart:', error);
              alert('There was an error adding the item to your cart. Please try again.');
          });
        }
      }


      let cartContents = fetch(window.Shopify.routes.root + 'cart.js')
      .then(response => response.json())
      .then(data => { 
          if(data.items.length) {
              let itemsInCart = data.items;
              let throwSwatchPopup = false;
              itemsInCart.forEach((item) => {
                  let itemTitleInCart = item.title.toUpperCase();
                  if(itemTitleInCart.includes("SWATCH")) {
                      if(!currentProductHandle.includes("SWATCH")) {
                        throwSwatchPopup = true;
                      } 
                  } 
              })
              if(throwSwatchPopup === true) {
                      freightItemPopup.style.display = 'block';
                      continueShoppingBtn.style.display = 'none';
                      goToCartBtn.style.width = '100%';
                      freightShippingMessage.innerHTML = `
                        <p style="font-weight: bold;">It looks like you already have a swatch in your cart.</p>
                        For the best results, we recommend <p style="font-weight: bold;">finalizing the swatch purchase first</p> to ensure the color match is correct before proceeding with the part purchase.
                      `;
                      formSubmission();
              } else {
                weightChecker();
              }
          } else {
              weightChecker();
          }
      })
      .catch(error => {
          console.error("Error fetching cart data:", error);
      })

    });
  }

  //For being on the swatch product page
  if(productFormSwatches) {
    productFormSwatches.addEventListener('submit', function (event) {
      const formDataSwatches = new FormData(productFormSwatches);
      event.preventDefault();

      fetch('/cart/add.js', {
        method: 'POST',
        body: formDataSwatches,
        headers: {
            'Accept': 'application/json'
        }
      })
      .then(response => {
        if (!response.ok) {
            throw new Error('Failed to add item to cart');
        }
        return response.json();
      })
      .then(() => {
        let cartContents = fetch(window.Shopify.routes.root + 'cart.js')
        .then(response => response.json())
        .then(data => { 
            if(data.items.length) {
                let itemsInCart = data.items;
                let throwSwatchPopup = false;
                itemsInCart.forEach((item) => {
                    let itemTitleInCart = item.title.toUpperCase();
                    if(!itemTitleInCart.includes("SWATCH")) {
                        if(currentProductHandle.includes("SWATCH")) {
                          throwSwatchPopup = true;
                        }
                    }
                })

                if(throwSwatchPopup === true) {
                  freightItemPopup.style.display = 'block';
                  continueShoppingBtn.style.display = 'none';
                  goToCartBtn.style.width = '100%';
                  freightShippingMessage.innerHTML = `
                    <p style="font-weight: bold;">It looks like you already have a part in your cart.</p>
                    For the best results, we recommend <p style="font-weight: bold;">removing the part and ordering the swatch first</p> to ensure the color match is correct before proceeding with the part purchase.
                  `;
                }
            }
        })
        .catch(error => {
            console.error("Error fetching cart data:", error);
        })
      })
      .catch(error => {
        console.error('Error adding item to cart:', error);
        alert('There was an error adding the item to your cart. Please try again.');
      });
    })
  }



  //Buttons
    continueShoppingBtn.addEventListener('click', function() {
      freightItemPopup.style.display = 'none';
      const fitmentLink = document.querySelector('.easysearch-fitment-link');
        if (fitmentLink) {
            window.location.href = fitmentLink.href;
        }
        document.body.classList.remove('no-scroll');
        document.body.style.top = '';
    });

    goToCartBtn.addEventListener('click', function() {
      freightItemPopup.style.display = 'none';
      window.location.href = '/cart';
      document.body.classList.remove('no-scroll');
      document.body.style.top = '';
    })
  });
</script>