<style>
  .product-aspiration-questions select {
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    min-height: 45px;
    height: 45px;
    margin-bottom: 10px;
  }
  .product-aspiration-questions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .product-aspiration-questions select[disabled] {
    background-color: #f0f0f0;
    color: #ccc;
    pointer-events: none;
    opacity: 0.6;
  }
</style>

<div class="product-aspiration-questions">
  {% render 'product-page-turbo-btns', key_index: key_index, inclusions_key: inclusions_key %}
</div>
