<style>
    #paintcode-app-container {
        position: relative;
        width: 100%;
        {% comment %} margin-top: 30px; {% endcomment %}
    }
</style>

<div>
    {% assign excluded_makes = settings.excluded_makes_list | split: ", " %}
    {% assign is_excluded_make_found = false %}
    {% assign downcase_handle = product.handle | downcase %}

    {% for excluded_make in excluded_makes %}
        {% if downcase_handle contains excluded_make %}
            {% assign is_excluded_make_found = true %}
            {% break %}
        {% endif %}
    {% endfor %}


    {% assign excluded_makes = settings.excluded_makes_list | split: ", " %}
    {% assign is_excluded_make_found = false %}
    {% assign downcase_handle = product.handle | downcase %}

    {% for excluded_make in excluded_makes %}
      {% if downcase_handle contains excluded_make %}
        {% assign is_excluded_make_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  
    <div id="product-details-for-app" data-product-title="{{ product.title }}" data-product-id="{{ product.id }}">
    </div>

    <div id="paintcode-app-container">
        <iframe
            id="paintcode-iframe"
            src="https://houses-contractor-relevant-integrity.trycloudflare.com"
            style="width: 100%; height: 100%; min-height: 225px; border: none;"
            scrolling="no"
            allowfullscreen
            sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-modals">
        </iframe>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const iframe = document.getElementById('paintcode-iframe');
        const parentUrl = window.location.href;
        const productDetailsElement = document.getElementById('product-details-for-app');
        let isExcludedValue = '{{ is_excluded_make_found }}';
          window.addEventListener('message', function(event) {
            if (event.data.type === 'iframeReady') {
                iframe.contentWindow.postMessage(
                    { type: 'productPage', url: parentUrl, makeExcluded: isExcludedValue },
                    'https://houses-contractor-relevant-integrity.trycloudflare.com'
                );
            }
        });
        // iframe.addEventListener('load', () => {
        //     console.log('Sending message to iframe');
        //     iframe.contentWindow.postMessage(
        //         { type: 'parentUrl', url: parentUrl }, 
        //         'https://houses-contractor-relevant-integrity.trycloudflare.com' // Specify your app's origin
        //     );
        // });

        
        // Listen for messages from the iframe
        window.addEventListener('message', function(event) {
            if (event.origin === 'https://houses-contractor-relevant-integrity.trycloudflare.com') {
                if (event.data.type === 'resizeIframe') {
                    // Adjust the iframe's height based on the received data
                    iframe.style.height = event.data.height + 50 + 'px';
                }

            //Automatically select the color in the variant-selector dropdown
                if (event.data.type === "updatePaintCode") {
                  const paintCode = event.data.paintCode;
                  let matchingOption = false;
                  let autoSelectedColor;

                  const variantSelector = document.getElementById('variant-selector');
                  if (variantSelector) {
                      const options = Array.from(variantSelector.options);
                        options.find(option => {
                            if(option.label.split(" ")[0] === paintCode) {
                                matchingOption = true;
                                autoSelectedColor = option.value;
                                return;
                            }
                        });
      
                      if (matchingOption) {
                          variantSelector.value = autoSelectedColor;
                          document.body.classList.remove('no-scroll-paint-swatch');
                          hideOverlay();
                          hideModal();
                          showShopifyChat();
      
                          // Trigger the change event programmatically
                          variantSelector.dispatchEvent(new Event('change', { bubbles: true }));
                      } else {
                          console.warn(`No matching option found for paint code: ${paintCode}`);
                      }
                  } else {
                      console.warn('Variant selector dropdown not found.');
                  }
                }
            }
        });
    });
</script>
