<!-- company-wholesale-signup.liquid -->

<div class="wholesale-signup">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        <h2>{{ block.settings.heading_text }}</h2>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Company Wholesale Signup",
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Company Wholesale Signup"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": [
    {
      "name": "Default",
      "category": "Custom",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
